.text-primary {
  color: #a433f0;
}

.text-gray {
  color: #6a6f73;
}

.hover-text-primary:hover {
  color: #a433f0;
}

.hover-bg-gray:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.bg-primary {
  background-color: #a433f0;
}

.bg-input {
  background-color: #f7f9fa;
}

.box-shadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.menu-popover {
  display: none;
}

.hover-btn:hover + .menu-popover {
  display: block;
}
