.title {
  font-size: 2rem;
  line-height: 2.5rem;
}

.banner .banner-image {
  height: 12.5rem;
}

.banner .banner-image img {
  object-fit: cover;

  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }

  .md-absolute-x-center {
    position: absolute;
    top: 50%;
    left: 3rem;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .banner .banner-image {
    height: 25rem;
  }
}
